<div *ngIf="hero">
  <div class="grid h-40 rounded-box">
    <div class="lg:flex lg:items-center lg:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
          Update Hero
        </h2>
        <label for="name">Name: </label>
        <input id="name" [(ngModel)]="hero.name" placeholder="Type name here">
        <button (click)="saveHero()" type="submit"
                class="flex-1 px-6 py-2select-none rounded-md text-gray-800 bg-green-200 hover:bg-gray-300"
        > Update
        </button>
      </div>
    </div>
    <button class="rounded-md text-gray-800 bg-gray-200 hover:bg-gray-300"
            (click)="goBack()">Back
    </button>
  </div>
</div>
